.page-media-resource-search
  %form{:action => "/media_shares/search", :method => "get", :name => ""}
    .field
      %input{:name => "keyword", :type => "text", :value => @keyword || ''}
      %a.form-submit-button{:href=>'javascript:;'} 搜索