.notifiers {
  text-align:center;
  position:fixed;
  padding:8px;
  width:148px;
  border:4px solid #ccc;
  border-top:none;
  top:0px;
  right:32px;
  z-index:99999;
  background:#fff;
  left:50%;
  margin-left:-80px;

  .content {
    line-height:16px;
    padding:4px;
  }
}